<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', path='/styles.css')}}" rel="stylesheet">
    <title>Home</title>   
</head>
<body>

    <header>
        <img  src="/static/img/Logo.png" alt="Logo">
            <nav>
                <a href="{{url_for('iniciar_sesion_template')}}">Iniciar Sesión</a>
                <a href="{{url_for('home_no_iniciado')}}">Salir</a>        
            </nav>
            
    </header>
                
            
    <div class="banner">
        <img class="Banner_img" src="/static/img/Banner1.jpg" alt="Banner_1"> 
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>