{% extends 'baseAdministrador.html.jinja' %}

{% block content %}

<h1 class="titulo"> {% block title %} Ingrese un nuevo candidato {% endblock %}</h1>

<form action="{{ url_for('crear_usuario_post') }}" method="post" enctype="multipart/form-data">
    <div>
        <input type="hidden" class="form-control" name="IdCandidato" placeholder="IdCandidato" required>
        <br>
    </div>

    <label for="IdUsuario">Usuario que se postula:</label>
    <br>
    <div>
        <select name="IdUsuario" id="IdUsuario" required>
            {% for user in users %}
                <option value="{{ user.IdUsuario }}">{{ user.Nombres }}</option>
            {% endfor %}
        </select>
        <br>
    </div>

    <label for="IdFrente">Frente al que se postula:</label>
    <br>
    <div>
        <select name="IdFrente" id="IdFrente" required>
            {% for frente in frentes %}
                <option value="{{ frente.IdFrente }}">{{ frente.Nombre }}</option>
            {% endfor %}
        </select>
        <br>
    </div>

    <label for="IdEleccion">Elección en la que se postula:</label>
    <br>
    <div>
        <select name="IdEleccion" id="IdEleccion" required>
            {% for eleccion in elecciones %}
                <option value="{{ eleccion.IdEleccion }}">{{ eleccion.Nombre }}</option>
            {% endfor %}
        </select>
        <br>
    </div>

    <input type="submit" value="Submit">
</form>

{% endblock %}
