
{% extends 'base.html.jinja' %}

{% block content %}

<h1 class="titulo"> {% block title %} Ingrese un nuevo votante {% endblock %}</h1>

<form action="{{ url_for('crear_usuario_post') }}" method="post"  enctype="multipart/form-data">
    <div>
        <label for="Nombres">Nombres: </label><br>
        <input type="text" class="form-control" name="Nombres" placeholder="Nombres" required>
        <br>
    </div>
    <div>
        <label for="Apellidos">Apellidos: </label><br>
        <input type="text" class="form-control" name="Apellidos" placeholder="Apellidos" required>
        <br>
    </div>
    <div>
        <label for="CI">Cédula de identidad: </label><br>
        <input type="number" class="form-control" name="CI" placeholder="CI" required>
        <br>
    </div>
    <div>
        <label for="Fecha_nacimiento">Fecha de nacimiento: </label><br>
        <input type="date" class="form-control" name="Fecha_nacimiento" placeholder="Fecha_nacimiento" required>
        <br>
    </div>
    <div>
        <label for="Direccion_hab">Dirección de habitación: </label><br>
        <input type="text" class="form-control" name="Direccion_hab" placeholder="Direccion_hab" required>
        <br>
    </div>
    <div>
        <label for="Direccion_electoral">Dirección electoral: </label><br>
        <input type="text" class="form-control" name="Direccion_electoral" placeholder="Direccion_electoral" required>
        <br>
    </div>
    <div>
      <label for="Estado_vzla">Región donde va a votar: </label><br>
      <select class="form-control" name="Estado_vzla" required>
                <option value="Extranjero">Extrajero</option>
                <option value="Anzoategui">Anzoategui</option>
                <option value="Amazonas">Amazonas</option>
                <option value="Aragua">Aragua</option>
                <option value="Bolivar">Bolivar</option>
                <option value="Barinas">Barinas</option>
                <option value="Capital">Distito Capital</option>
                <option value="Carabobo">Carabobo</option>
                <option value="Miranda">Miranda</option>
                <option value="Yaracuy">Yaracuy</option>
                <option value="Lara">Lara</option>
                <option value="Falcon">Falcon</option>
                <option value="Trujillo">Trujillo</option>
                <option value="Merida">Merida</option>
                <option value="Tachira">Táchira</option>
                <option value="Apuire">Apure</option>
                <option value="Portuguesa">Portuguesa</option>
                <option value="Cojedes">Cojedes</option>
                <option value="Guarico">Guarico</option>
                <option value="Monagas">Monagas</option>
                <option value="Sucre">Sucre</option>
                <option value="Nueva_Esparta">Nueva Esparta</option>
                <option value="Falcon">Falcon</option>
                <option value="Delta_Amacuro">Delta_Amacuro</option>
                <option value="Zulia">Zulia</option>
            </select>
    </div>
    <div>
        <label for="Correo_electronico">Correo electrónico: </label><br>
        <input type="email" class="form-control" name="Correo_electronico" placeholder="Correo_electronico" required>
        <br>
    </div>
    <div>
        <label for="Telefono">Teléfono: </label><br>
        <input type="text" class="form-control" name="Telefono" placeholder="Telefono" required>
        <br>
    </div>

    <div>
        <label for="Contrasena">Contraseña: </label><br>
        <input type="password" class="form-control" name="Contrasena" placeholder="Contrasena" required>
        <br>
    </div>
   
    <div>
        <label for="Imagen">Imagen:</label>
        <input type="file" id="Imagen" name="Imagen" required><br>
    </div>
    <div>
        <input type="hidden" class="form-control" name="contrasena" placeholder="contrasena" required>
        <br>
    </div>
   

    <input type="submit" value="Submit">
</form>


{% endblock %}