{% extends 'base.html.jinja' %}


{% block content %}


    


    <h1 class="titulo"> {% block title %} Únete a nuestra familia {% endblock %}</h1>

   

        <form class method="POST" Content-Type='application/json'>

            <article>

            <div>
                Misión<br>
                En ArteGuaro, nuestra misión es preservar y promover el legado artesanal de nuestra comunidad pintoresca. <br>
                Nos comprometemos a conectar a nuestros talentosos artesanos con una audiencia global, brindando una plataforma <br>
                digital que permita a personas de todas partes descubrir y adquirir nuestras únicas y tradicionales artesanías. <br>
                Trabajamos con dedicación para asegurar que cada pieza cuente una historia de tradición, cultura y habilidad, <br>
                apoyando el sustento de nuestros artesanos y manteniendo vivas nuestras raíces culturales.<br>
                <br>
            </div> 
            <div>
                Visión<br>
                Nuestra visión es convertirnos en el referente principal de artesanías tradicionales en el ámbito digital, reconocidos <br>
                por la autenticidad y calidad de nuestros productos. Aspiramos a ser una plataforma donde la tradición y la innovación <br>
                se encuentren, facilitando el acceso global a nuestras artesanías y promoviendo el aprecio por el trabajo artesanal. En <br>
                ArteGuaro, imaginamos un futuro donde nuestras artesanías sean valoradas y celebradas en todo el mundo, contribuyendo <br>
                al desarrollo económico y cultural de nuestra comunidad. <br>
                <br>
            </div>
            <div>
                Valores<br>
                Autenticidad: Valoramos la originalidad y la historia detrás de cada pieza artesanal, asegurando que nuestros productos <br>
                reflejen la verdadera esencia de nuestra comunidad.<br>
                Calidad: Nos comprometemos a ofrecer productos de la más alta calidad, hechos con esmero y dedicación por nuestros artesanos.<br>
                Sostenibilidad: Promovemos prácticas sostenibles que respeten el medio ambiente y las tradiciones de nuestra comunidad.<br>
                Innovación: Abrazamos las tecnologías actuales para conectar nuestras artesanías con el mundo, sin comprometer la autenticidad y <br>
                tradición de nuestros productos.<br>
                Compromiso Comunitario: Apoyamos a nuestros artesanos y a nuestra comunidad, trabajando juntos para preservar y promover <br>
                nuestro patrimonio cultural.<br>
                Transparencia: Mantenemos una comunicación abierta y honesta con nuestros clientes y artesanos, asegurando confianza y respeto <br>
                mutuo.
                        
                <br>
            </div>
          



{% endblock %}