{% extends 'baseAdministrador.html.jinja' %}

{% block content %}
<h1>{% block title %} Frentes electorales {% endblock %}</h1>

<table id="formcenter">
    <tr>
        <th>Id elección</th>
        <th>Nombre</th>
    </tr>

    {% for election in Elections %}
    <tr>
        <td>{{ election.Id_Eleccion }}</td>
        <td>{{ election.Nombre }}</td>

        <td>
            <form action="/election/delete/{{ election.election_id }}" method="post" style="display:inline;">
                <button type="submit">Eliminar</button>
            </form>
         </td>

        
    </tr>
    {% endfor %}

    <td>
        <button value="" onclick="window.location.href='/election/create/' ;" >Crear Elección Nuevo</button>
    </td>
</table>
{% endblock %}
