{% extends 'baseVotante.html.jinja' %}

{% block content %}
<h1>{% block title %} Candidatos {% endblock %}</h1>

<table id="formcenter">
    <tr>
        <th>Nombre</th>
        <th>Tarjeta</th>
    </tr>

    {% for canidate in Candidates %}
    <tr>
        <td>{{ front.Nombre }}</td>
        <td onclick="window.location.href='/vote/create/{{ canidate.IdCandidato }}/{{ election.IdEleccion }}';"><img src="/{{ canidate.Imagen }}" alt="{{ canidate.Nombre }}" width="100"></td>
    </tr>
    {% endfor %}




    
</table>
{% endblock %}
