{% extends 'baseVotante.html.jinja' %}

{% block content %}
<h1>{% block title %} Candidatos {% endblock %}</h1>

<table id="formcenter">
    <tr>
        <th>Nombre</th>
        <th>Imagen</th>
    </tr>

    {% for candidate, user, election in CandidatesElections %}
    <tr>
        <td>{{ user.Nombres }} {{ user.Apellidos }}</td>
        <td onclick="window.location.href='/vote/create/{{ candidate.IdCandidato }}/{{ election.Id_Eleccion }}';">
            <img src="/{{ user.Imagen }}" alt="{{ user.Nombres }}" width="100">
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
