{% extends 'baseVotante.html.jinja' %}

{% block content %}
<h1 class="titulo"> {% block title %} Confimación de voto {% endblock %}</h1>
<img src="/{{ Candidate.usuario.Imagen }}" alt="{{ Candidate.usuario.Nombres }}" width="200">
<h2>{{ Candidate.usuario.Nombres }} {{ Candidate.usuario.Apellidos }}</h2>
<form action="{{ url_for('crear_voto_post') }}" method="post">
    <div>
        <input type="hidden" class="form-control" name="IdEleccion" value="{{ Election.Id_Eleccion }}" >
        <br>
    </div>
    <div>
        <input type="hidden" class="form-control" name="IdCandidato" value="{{ Candidate.IdCandidato }}">
        <br>
    </div>
  
    <input type="submit" value="Votar">
</form>
{% endblock %}
